# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# Data
data/raw/*
data/final/*

# Keep directory structure
!data/source/.gitkeep
!data/raw/.gitkeep
!data/final/.gitkeep

# OS
.DS_Store
Thumbs.db
